/* Aionic Apps default font */
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

/* Import component styles */
@import './components/variables';
@import './components/animations';
@import './components/buttons';
@import './components/cards';
@import './components/form';
@import './components/helper';
@import './components/modal';
@import './components/nav';
@import './components/scrollbar';

body {
	background-color: $bg-grey;
	font-family: 'Lexend Deca', sans-serif;
}

#page-wrapper {
	padding-bottom: 15px;

	> .content {
		padding: 20px 20px 0px;
	}
}
