.card-list .card:not(:first-child) {
	margin-top: 10px;
}

.card-body {
	padding: 1rem;
}

.card-link {
	margin-left: 0px !important;
}

a.card-link {
	color: inherit;
	text-decoration: none;
}

a.card-link:hover {
	border-color: $grey-mid;
	color: inherit;
	cursor: pointer;
}
